div.block-pront {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

div.date {
  text-align: center;
  width: 10%;
  color: rgba(30,144,255);
}

p.day {
  font-size: 2rem;
}

p.month {
  font-size: 1.5rem;
}

p.year {
  font-size: 1.2rem;
}

div.content {
  width: 100%;
}

div.main-block {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0 0 .8rem .8rem;
}

div.content header p {
  background-color: rgba(30,144,255);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: .8rem .8rem 0 0;
}

div.content header p img {
  margin-right: .5rem;
  width: 2rem;
}

div.content header h1 {
  background-color:rgba(30,144,255, .5);
  color: rgba(70,130,180);
  padding: 1rem;
}

div.doencas {
  margin-top: 1rem;
}

div.doencas h1{
  font-size: 1.8rem;
}

div.options-block {
  display: flex;
  flex-wrap: wrap;
}

div.select-block {
  display: flex;
  align-items: center;
  background-color: rgba(30,144,255);
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem .5rem 0;
  border-radius: 20px;
  color: #fff;
}

div.block {
  margin-top: 1rem;
}

div.block h1 {
  font-size: 1.8rem;
}

div.block p {
  margin-top: .2rem;
  font-size: 1.5rem;
}