div.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(220,220,220, .3);
}

div.main {
  width: 90vw;
  border-radius: 20px;
  background-color: #fff;
}

div.main header {
  display: flex;
  align-items: center;
  height: 6rem;
  padding-left: 1.5rem;
  background-color: rgba(30,144,255);
  color: #fff;
  border-radius: 20px 20px 0px 0px;
}

div.main header h1 {
  font-size: 2rem;
}

form.formulario {
  padding: 1rem 1.5rem;
}

div.selecionados {
  margin-top: 1rem;
}

div.selecionados label {
  font-size: 2rem;
}

div.options {
  display: flex;
  flex-wrap: wrap;
}

div.select {
  display: flex;
  align-items: center;
  background-color: rgba(30,144,255);
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem .5rem 0;
  border-radius: 20px;
  color: #fff;
}

@media(min-width: 700px) {
  div.container {
    align-items: center;
    justify-content: center;
  }

  div.main {
    width: 60vw;
  }
}
