* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div#root {
  height: 100vh;
  margin: 0;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}